body{
    background-color: lightblue;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

canvas{
    outline: 2px solid yellow;
    background-color: rgb(71, 71, 71);
    align-content: center;
}